# Project exclude paths
/node_modules/
/.idea/*
/.idea/.gitignore
/.idea/api_azonar.iml
/.idea/deployment.xml
/.idea/jsLibraryMappings.xml
/.idea/modules.xml
/.idea/sshConfigs.xml
/.idea/vcs.xml
/.idea/webServers.xml
/.idea/Azonar-API.iml
